body {
    margin: 0;
    font-family: Georgia;
    height: 100vh;
}

#lewy {
    background-color: maroon;
    color: white;
    min-height: 97vh;
    width: 30%;
    float: left;
}

#prawy {
    background-color: maroon;
    color: white;
    min-height: 97vh;
    width: 70%;
    float: left;
}

#stopka {
    background-color: dimgray;
    color: white;
    height: 3vh;
    width: 100%;
    float: left;
    clear: both;
}

p {
    padding: 10px;
}

img {
    padding: 10px;
    border: 1px solid white;
    margin-left: 5px;
}

#indigo {
    background-color: indigo;
}

#steelblue {
    background-color: steelblue;
}

#olive {
    background-color: olive;
}

#lista {
    list-style-type: disc;
}

input {
    margin-left: 5px;
}

button {
    margin-left: 5px;
}

select {
    margin-left: 5px;
}